*.page
*.gmo
*.o
*.Po
help/*/*mo
help/*/legal.xml
autom4te.cache

INSTALL
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
data/Makefile
data/Makefile.in
data/mate-calc.desktop
data/org.mate.mate-calc.gschema.valid
data/org.mate.mate-calc.gschema.xml
depcomp
help/Makefile
help/Makefile.in
install-sh
mate-doc-utils.make
missing
omf.make
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
src/Makefile
src/Makefile.in
src/mate-calc
src/mate-calc-cmd
src/mp-equation-lexer.c
src/mp-equation-lexer.h
src/mp-equation-parser.c
src/mp-equation-parser.h
stamp-h1
xmldocs.make
